<footer>
    <div class="container text-center">
        <div class="logo"><b>STORCE</b></div>
        <div class="footer-logo">
            <img src="/startups/imgs/landing/Footer/Facebook logo.svg" alt="">
            <img src="/startups/imgs/landing/Footer/Twitter.svg" alt="">
            <img src="/startups/imgs/landing/Footer/Linkdin.svg" alt="">
            <img src="/startups/imgs/landing/Footer/Youtube.svg" alt="">
        </div>
        <div class="footer-link">
            <a href="#">About</a>
            <a href="#">Contact us</a>
            <a href="#">Cookie</a>
            <a href="#">Notification</a>
        </div>

        <hr>
        <span>2019 &copy; Storce All Rights Reserved</span>
    </div>
</footer>