<div class="navbar">
    <div class="logo"><b>STORCE</b></div>
    <div class="menu">
        <ul>
            <% if(!isLoggedIn) { %>
            <li><a href="#">What is storce ?</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Blog</a></li>

            <span>&nbsp;&nbsp;</span>
            <li><a href="/startups/login">Login</a></li>
            <li><a class="btn" href="/startups/signup">Join&nbsp;Storce</a></li>

            <% } else { %>
            <li><a href="/startups/home">Home</a></li>
            <li><a href="/startups/profile">Profile</a></li>
            <li><a href="#">Blog</a></li>

            <li>
                <form action="/startups/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input class="btn" type="submit" value="Logout" />
                    <!-- <button class="btn" type="submit">Logout</button> -->
                </form>
            </li>
            <% } %>
        </ul>
    </div>
</div>