<!-- Start  Footer -->
<footer class="padding-100 pb-0" id="footer">
    <div class="subscribe">
        <div class="container">

            <% if(msgs[0]) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong><%= msgs[0] %></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %> %>

            <form class="subscribe-form row m-0 align-items-center" action="/api/subscribe" method="POST">
                <div class="col-lg-9 col-md-8">
                    <div class="form-group mb-0">
                        <input name="mail_email" id="mail_email" type="email" class="form-control"
                            placeholder="Enter Your Email" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <a href="#" class="btn btn-primary shadow d-block btn-colord btn-theme"><span>subscribe</span></a>
                </div>
            </form>
        </div>
    </div>
    <div class="space-50"></div>
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="">
                        <img src="assets/imgs/horizon/HLogoW.png" style="padding: 1rem;" class="img-fluid" width="250px"
                            alt="" />
                        <p class="light" style="padding: 0 1rem; text-align: justify;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
                            nostrum odit facilis delectus quia rerum?Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Aspernatur eius,
                            consectetur cupiditate doloribus deleniti veniam!
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <div class="widget">
                        <h6>Quick Links</h6>
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Latest News</a>
                            </li>
                            <li>
                                <a href="#">Products</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <div class="widget">
                        <h6>Social Media</h6>
                        <ul>
                            <li>
                                <a href="#">Facbook</a>
                            </li>
                            <li>
                                <a href="#">Instagram</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <div class="widget">
                        <h6>Quick Contact</h6>
                        <ul>
                            <li>
                                <span>Phone : </span>
                                <br>
                                <a class="med-dark" href="tel:123456789">911</a>
                            </li>
                            <li>
                                <span>Email : </span>
                                <br>
                                <a class="med-dark" href="mailto:test@test.com">horizon@horizon.com</a>
                            </li>
                            <li>
                                <span>Address : </span>
                                <br>
                                <a class="med-dark"
                                    href="https://www.google.com/maps/place/The+White+House/@38.898346,-77.037709,15.67z/data=!4m5!3m4!1s0x0:0x715969d86d0b76bf!8m2!3d38.8976763!4d-77.0365298">Google
                                    Map Address</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-50"></div>
    <div class="copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 white">
                    <a href="/" target="_blank" rel="noopener noreferrer">Horizon</a>
                    <span className="">&copy; 2021.</span>
                </div>
                <div class="offset-md-4 col-md-4 white">
                    <span className="">Powered by</span>
                    <a href="https://ayk-mall.com" target="_blank" rel="noopener noreferrer">Ayk</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End  Footer  -->