<!-- Start Header -->
<div style="background-color: #241F1F; padding-bottom: 1rem;">
    <a href="https://chat.horizon-lenses.com" style="margin: 0;">
        <div class="chat-header">
            <span><b>Horizon Chat: </b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ipsa!
            </span>
        </div>
    </a>
</div>

<% if(msgs[0]) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: 0rem !important; text-align: center;">
        <strong>
            <%= msgs[0] %>
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %> %>
<header class="horizon-header">
    <nav id="mainnav" class="mainnav navbar navbar-expand-lg navbar-light" id="horizon_menu">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/imgs/horizon/HLogoW.png" class="img-fluid" width="15em" alt="navigation-bar-logo" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu"
                aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main_menu">
                <ul class="navbar-nav ml-auto">
                    <!-- New Nav item -->
                    <!-- Home -->
                    <li class="nav-item home">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <!-- Brands -->
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#">Brands</a>
                        <ul class="submenu">
                            <li><a href="/brands/zeiss" class="">Zeiss</a></li>
                            <li><a href="/brands/ltl" class="">LTL</a></li>
                            <li><a href="/brands/divel" class="">Divel</a></li>
                            <li><a href="/brands/roger_bacon" class="">Roger Bacon</a></li>
                        </ul>
                    </li>
                    <!-- Products & Services -->
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#">Products & Services</a>
                        <ul class="submenu">
                            <li><a href="/products/stock_lenses">Stock Lenses</a></li>
                            <li>
                                <a href="#" class="dropdown-toggle">RX Lenses</a>
                                <ul class="submenu" style="top: 0; left: 100%">
                                    <li><a href="/design/single_vision">Single Vision</a></li>
                                    <li><a href="/design/bi_focal">Bi-Focal</a></li>
                                    <li><a href="/design/progressive">Progressive</a></li>
                                    <li><a href="/design/office">Office</a></li>
                                    <li><a href="/design/computer">Computer</a></li>
                                    <li><a href="/design/driving">Driving</a></li>
                                </ul>
                            </li>
                            <li><a href="/products/lens_coating_materials">Lens Coating & Materials</a></li>
                            <li><a href="/products/thickness_reduction">Thickness Reduction</a></li>
                            <li><a href="/products/finishing_services">Finishing Services</a></li>
                            <li><a href="/products/contact_lenses">Contact Lenses</a></li>
                            <li><a href="/products/delivery">Delivery</a></li>
                        </ul>
                    </li>
                    <!-- Accessories -->
                    <li class="nav-item home">
                        <a class="nav-link" href="/accessories">Accessories</a>
                    </li>
                    <!-- News -->
                    <li class="nav-item home">
                        <a class="nav-link" href="/news">News</a>
                    </li>
                    <!-- About Us -->
                    <li class="nav-item home">
                        <a class="nav-link" href="/about-us">About Us</a>
                    </li>
                    <!-- Online Ordering -->
                    <li class="nav-item home">
                        <a class="nav-link" href="/online_ordering">Online Ordering</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->