<!-- Start Header -->
<header class="horizon-header">
    <nav class="navbar navbar-expand-lg navbar-light" id="horizon_menu">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="assets/imgs/horizon/HLogoW.png" class="img-fluid" style="padding: 5px 0;" width="150px"
                    alt="navigation-bar-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu"
                aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_menu">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
            <a class="nav-link anchor active" href="#slide">Home </a>
          </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item anchor" href="/products/zeiss">ZEISS</a>
                            <a class="dropdown-item anchor" href="/products/ltl">LTL</a>
                            <a class="dropdown-item anchor" href="/products/divel">Divel</a>
                            <a class="dropdown-item anchor" href="/products/roger-bacon">Roger Bacon</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Free Form
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item anchor" href="/free-form/progressive">Progressive</a>
                            <a class="dropdown-item anchor" href="/free-form/single-vision">Single Vision</a>
                            <a class="dropdown-item anchor" href="/free-form/bifocal">Bifocal</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link anchor" href="/news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link anchor" href="/about-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a id="contact-route" class="nav-link anchor" href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->