<!-- Start Header -->
<header class="horizon-header">
    <nav id="mainnav" class="mainnav navbar navbar-expand-lg navbar-light" id="horizon_menu">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/imgs/horizon/HLogoW.png" class="img-fluid" style="padding: 5px 0;" width="150px"
                    alt="navigation-bar-logo" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu"
                aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main_menu">
                <ul class="navbar-nav ml-auto">
                    <!-- 
                        <li class="nav-item">
                            <a class="nav-link anchor active" href="#slide">Home </a>
                        </li> 
                    -->
                    <!-- New Nav item -->
                    <!-- Home -->
                    <li class="nav-item home">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <!-- Brands -->
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#">Brands</a>
                        <ul class="submenu">
                            <li>
                                <a href="/brands/Zeiss" class="dropdown-toggle">Zeiss</a>
                                <ul class="subsubmenu">
                                    <li><a href="/brands/Zeiss#designs">Office</a></li>
                                    <li><a href="/brands/LTL#designs">Driving</a></li>
                                    <li><a href="/brands/Divel#designs">Computer</a></li>
                                    <li><a href="/brands/Roger_Bacon#designs">Progressive</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/brands/Zeiss" class="dropdown-toggle">LTL</a>
                                <ul class="subsubmenu">
                                    <li><a href="/brands/Zeiss#designs">Office</a></li>
                                    <li><a href="/brands/LTL#designs">Driving</a></li>
                                    <li><a href="/brands/Divel#designs">Computer</a></li>
                                    <li><a href="/brands/Roger_Bacon#designs">Progressive</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/brands/Zeiss" class="dropdown-toggle">Divel</a>
                                <ul class="subsubmenu">
                                    <li><a href="/brands/Zeiss#designs">Office</a></li>
                                    <li><a href="/brands/LTL#designs">Driving</a></li>
                                    <li><a href="/brands/Divel#designs">Computer</a></li>
                                    <li><a href="/brands/Roger_Bacon#designs">Progressive</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/brands/Zeiss" class="dropdown-toggle">Roger Bacon</a>
                                <ul class="subsubmenu">
                                    <li><a href="/brands/Zeiss#designs">Office</a></li>
                                    <li><a href="/brands/LTL#designs">Driving</a></li>
                                    <li><a href="/brands/Divel#designs">Computer</a></li>
                                    <li><a href="/brands/Roger_Bacon#designs">Progressive</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- Products & Services -->
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#">Products & Services</a>
                        <ul class="submenu">
                            <li><a href="/products/stock_lenses">Stock Lenses</a></li>
                            <li><a href="/products/rx_lenses">RX Lenses</a></li>
                            <li><a href="/products/lens_coating_materials">Lens Coating & Materials</a></li>
                            <li><a href="/products/thickness_reduction">Thickness Reduction</a></li>
                            <li><a href="/products/finishing_services">Finishing Services</a></li>
                            <li><a href="/products/contact_lenses">Contact Lenses</a></li>
                            <li><a href="/products/delivery">Delivery</a></li>
                        </ul>
                    </li>
                    <!-- Accessories -->
                    <li class="nav-item home">
                        <a class="nav-link" href="/accessories">Accessories</a>
                    </li>
                    <!-- News -->
                    <li class="nav-item home">
                        <a class="nav-link" href="/news">News</a>
                    </li>
                    <!-- About Us -->
                    <li class="nav-item home">
                        <a class="nav-link" href="/about-us">About Us</a>
                    </li>
                    <!-- Online Ordering -->
                    <li class="nav-item home">
                        <a class="nav-link" href="/online_ordering">Online Ordering</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->