<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <!-- About Page -->
    <link rel="stylesheet" href="assets/css/about/about.css">
    
</head>

<body>

    <header class="masthead">
        <p class="masthead-intro">Horizon</p>
        <h1 class="masthead-heading">Lenses Industry</h1>
    </header>
    <section class="introduction-section">
        <div class="container">
            <h1>Introduction</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, ducimus ex officia hic dignissimos
                voluptatibus odio nam reiciendis id, suscipit labore saepe, quidem minus dolores?
            </p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, ducimus ex officia hic dignissimos
                voluptatibus odio nam reiciendis id, suscipit labore saepe, quidem minus dolores?
            </p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, ducimus ex officia hic dignissimos
                voluptatibus odio nam reiciendis id, suscipit labore saepe, quidem minus dolores?
            </p>
        </div>
    </section>

    <section class="location-section">
        <div class="container">
            <h1>Where we are</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, ducimus ex officia hic dignissimos
                voluptatibus odio nam reiciendis id, suscipit labore saepe, quidem minus dolores?
            </p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, ducimus ex officia hic dignissimos
                voluptatibus odio nam reiciendis id, suscipit labore saepe, quidem minus dolores?
            </p>
        </div>
    </section>

    <section class="questions-section">
        <div class="container">
            <h1>More About Us</h1>
            <h2>What is ...?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, ducimus ex officia hic dignissimos
                voluptatibus odio nam reiciendis id, suscipit labore saepe, quidem minus dolores?
            </p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, ducimus ex officia hic dignissimos
                voluptatibus odio nam reiciendis id, suscipit labore saepe, quidem minus dolores?
            </p>
        </div>
    </section>

    <footer class="content-footer">
        <div class="footer-container">
            <p>Social Media:</p>

        </div>
    </footer>

</body>

</html>