<%- include('./partials/online_ordering_head.ejs') %>
    <%- include('./partials/nav.ejs') %>


        <!-- Start Page Head -->
        <!-- Start Page Head -->
        <section class="page-head background-withcolor">
            <div class="container">
                <div id='stars'></div>
                <div id='stars1'></div>
                <div id='stars2'></div>
                <div class="row text-center">
                    <div class="col-md-12" style="margin: 3rem auto !important">
                        <span style="color: white; letter-spacing: 0.5rem;">Horizon </span>
                        <h1 style="font-size: x-large; display: inline-block;">
                            <!-- <span style="color: #FFD952">Products / </span> -->
                            / Online Ordering
                        </h1>
                    </div>
                </div>
            </div>
        </section>

        <section id="online_ordering" class="padding-100 background-withoutcolor">

            <div class='progress'>
                <div class='progress_inner'>
                    <div class='progress_inner__step'>
                        <label for='step-1'>Choose Product</label>
                    </div>

                    <div class='progress_inner__step'>
                        <label for='step-2'>Confirm Order</label>
                    </div>

                    <div class='progress_inner__step'>
                        <label for='step-3'>Follow Delivery</label>
                    </div>

                    <input checked='checked' id='step-1' name='step' type='radio'>
                    <input id='step-2' name='step' type='radio'>
                    <input id='step-3' name='step' type='radio'>
                    <div class='progress_inner__bar'></div>
                    <div class='progress_inner__bar--set'></div>
                    <div class='progress_inner__tabs'>
                        <div class='tab tab-0'>
                            <h1>Choose Product</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor ipsum, eleifend
                                vitae massa non, dignissim finibus eros. Maecenas non eros tristique nisl maximus
                                sollicitudin.</p>
                        </div>
                        <div class='tab tab-1'>
                            <h1>Confirm Order</h1>















                        </div>
                        <div class='tab tab-2'>
                            <h1></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor ipsum, eleifend
                                vitae massa non, dignissim finibus eros. Maecenas non eros tristique nisl maximus
                                sollicitudin.</p>
                        </div>

                        <div class='progress_inner__status'>
                            <div class='box_base'></div>
                            <div class='box_lid'></div>
                            <div class='box_ribbon'></div>
                            <div class='box_bow'>
                                <div class='box_bow__left'></div>
                                <div class='box_bow__right'></div>
                            </div>
                            <div class='box_item'></div>
                            <div class='box_tag'></div>
                            <div class='box_string'></div>
                        </div>
                    </div>
                </div>
        </section>


        <%- include('./partials/footer.ejs') %>
            <%- include('./partials/new_end.ejs') %>