<div id="login" class="modal-window">
    <div>
        <a href="#" title="Close" class="modal-close" style="font-size: 1.2rem;">X</a>
        <br><br>

        <div style="margin-bottom: 15px;">
            <%- include('./messages.ejs') %>
        </div>

        <div class="form-container">
            <form action="/mentor/login" method="post">

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <input type="email" class="emailbar shadow" name="email" placeholder="Enter Your Email">
                <input type="password" class="emailbar shadow" name="password" placeholder="Enter Password">
                <br>
                <input type="submit" value="Login" class="btn-rounded shadow">
            </form>
        </div>


        <br><br>
        <hr>

        <span>Do us a small favour</span>
        <br>
        <span>Know someone who might like to use Storce?</span>

        <div class="dropdown">
            <button class="btn btn-secondary text-center" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="padding: 0.25rem 1.5rem">
                Share with a Friend <br>
            </button>
            <span style="font-size: 12px; align-content:left;">in 2 clicks</span>
            <!-- AddToAny BEGIN -->
            <div class="dropdown-menu a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="Hey! If You Want to Prepare for Getting a Job in the Workforce...Check Storce Out.
                https://www.thestorce.com" data-a2a-title="The Storce" aria-labelledby="dropdownMenuButton">
                <!-- <a class="a2a_dd dropdown-item" href="https://www.addtoany.com/share"></a> -->
                <a class="a2a_button_facebook dropdown-item ">One click left!</a>
                <a class="a2a_button_twitter dropdown-item ">One click left!</a>
                <a class="a2a_button_whatsapp dropdown-item ">One click left!</a>
                <a class="a2a_button_telegram dropdown-item">One click left!</a>
                <a class="a2a_button_email dropdown-item ">One click left!</a>
                <!-- <a class="a2a_button_google_gmail dropdown-item ">One click left!</a>
                        <a class="a2a_button_outlook_com dropdown-items">One click left!</a> -->
            </div>
            <!-- AddToAny END -->
        </div>
    </div>
</div>