// Here you can add other styles

.uploadedImg {
  width: 100%;
}

.badgeee {
  display: inline-block;
  border: 0.1rem solid;
  padding: 0.2rem 0.3rem;
  background-color: rgba(224, 230, 241, 0.75);
  border-radius: 0.3rem;
  box-shadow: -2px 1px 0 0 #3c4b64;
}

// checkbox
.show_design {
  display: flex;
  align-items: center;
}

.show_design_label {
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0rem;
  cursor: pointer;
  margin: 0;
}

.show_design_link {
  text-decoration: none !important;
  color: #303C54;
  display: inline-block;
}

.show_design_link label {
  margin-bottom: 0;
}

.label__checkbox {
  display: none;
}

.label__check {
  display: inline-block;
  // border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  background: white;
  vertical-align: middle;
  margin-right: 0.5rem;
  width: 2rem !important;
  height: 1.5rem !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;
}

.label__check i.icon {
  opacity: 0.2;
  font-size: calc(1rem + 1vw);
  color: transparent;
  transition: opacity .3s .1s ease;
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
}

.label__check:hover {
  border: 5px solid rgba(0, 0, 0, 0.2);
}

.label__checkbox:checked+.label__text .label__check {
  animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}

.label__checkbox:checked+.label__text .label__check .icon {
  opacity: 1;
  transform: scale(0);
  color: white;
  -webkit-text-stroke: 0;
  animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes check {
  0% {
    // width: 1.5em;
    // height: 1.5em;
    // border-width: 5px;
  }

  10% {
    // width: 1.5em;
    // height: 1.5em;
    // border-width: 15px;
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.2);
  }

  12% {
    // width: 1.5em;
    // height: 1.5em;
    // border-width: 0;
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.1);
  }

  50% {
    // width: 2rem;
    // height: 2rem;
    border: 0;
    background: #00d478;
    opacity: 0.6;
  }

  100% {
    // width: 2rem;
    // height: 2rem;
    border: 0;
    background: #00d478;
    opacity: 1;
  }
}
