// todo: disabled button styles

:root {
  --primary: #303C54 !important;
}

.c-app {
  --primary: #303C54 !important;
}

.btn-primary {
  background-color: #303C54;
  border-color: #303C54;
}

.bg-primary {
  background-color: #303C54 !important;
}

button {
  &:disabled {
    cursor: default;
  }

  &.disabled {
    cursor: default;
  }
}

// todo: brand button icon margin
.btn-brand:not(:only-child) {
  .c-icon {
    margin-top: 0 !important;
  }
}

// Checkbox
// input[type="checkbox"] {
//   float: left;
//   width: 42px;
//   height: 17px;
//   cursor: pointer;
//   background-color: #71798a;
//   -webkit-appearance: none;
//   border-radius: 8px;
//   position: relative;
// }

// input[type="checkbox"]:before {
//   content: "";
//   width: 21px;
//   height: 21px;
//   background-color: #adb4c4;
//   border-radius: 50%;
//   position: absolute;
//   top: -2px;
//   z-index: 2;
//   left: -2px;
//   transition: all .2s linear;
// }

// input[type="checkbox"]:after {
//   content: "";
//   height: 100%;
//   width: 17px;
//   position: absolute;
//   left: 0;
//   z-index: 1;
//   border-radius: 17px;
//   background-color: #305440;
//   transition: all .2s linear;
// }

// input[type="checkbox"]:checked:before {
//   left: calc(100% - 19px);
//   background-color: #adc4af;
// }

// input[type="checkbox"]:checked:after {
//   width: 100%;
//   border-radius: 8px;
// }
